.cell-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32rem;
    margin: 1rem 0;
}

.cell-info-text{
    width: 24rem;
}

.cell-representation{
    width: 4rem;
    height: 4rem;
    border: 2px solid black;
}